WINDSPEED_PASS_ALTENRHEIN = mypassword
WINDSPEED_PASS_KRESSBRONN = mypassword
WINDSPEED_PASS_LINDAU_LSC = mypassword
WINDSPEED_PASS_PRAIA_DA_RAINHA = mypassword
WINDSPEED_PASS_ROHRSPITZ = mypassword
WINDSPEED_PASS_ROHRSPITZ_ZAMG = mypassword
